/*Algemeen*/
*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

.navbar-profiel{
    padding: 40px;
}

h1 {
    text-align: center;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 220%;
}

.dot {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 3px solid white;
    float: right;
    align-items: flex-start;
    vertical-align: middle;
    margin-top: -60px;
}

button{
    border-radius: 15px;
    border: 1px solid gray;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    background-color: red;
    color: white;
}

input{
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
}

label{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    text-align: center;
    margin: 30px;
    background-color: red;
    color: white;
    font-size: 30px;
    padding: 15px;
}


/*Sensor toevoegen/aanpassen css*/
.SensorFrom{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: right;
    padding-right: -10px;
    display: inline-block;
}

select{
    width: 177px;
    margin: 5px;
    border-radius: 15px;
    padding: 5px;
    border: 2px solid black;
}


/*Aanmelden/registratie fromulier css*/
.Aanmeld-RegistratieForm{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-right: -10px;
    text-align: right;
    display: inline-block;
}


table.responsiveTable{
    margin: 60px;
   width: 100%; 
}
